# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
.env.dev
.env.prod

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Databases
*.sqlite3
*.db

# IDEs
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Mypy / Ruff
.mypy_cache/
.ruff_cache/
.dmypy.json
dmypy.json

# PyInstaller
*.spec

# Sphinx docs
docs/_build/

# Migrations cache
*/migrations/__pycache__/

# Editors
*.swp
*.swo

# Docker
docker-compose.override.yml

static/
